---
import GitHub from '@icons/GitHub.astro';

interface Props {
  title: string;
  description: string;
  image: string;
  github?: string;
  demo?: string;
}

const { title, description, image, github, demo } = Astro.props;
---
<div class="bg-[#242a31a3] rounded-xl p-3 text-left h-full flex flex-col max-">
  <img 
    src={image} 
    alt={title} 
    class="w-full h-48 object-cover rounded-lg"
  />
  <h3 class="text-xl mt-4 text-[#12F7D6]">{title}</h3>
  <p class="text-sm mt-2 flex-grow">{description}</p>
  <div class="flex gap-2 mt-4">
    {github && (
        <a 
        href={github}
        class="bg-[#12F7D6] text-black px-4 py-2 rounded-full text-sm hover:bg-opacity-80 flex"
        target="_blank"
        rel="noopener noreferrer"
        >
        GitHub
      </a>
    )}
    {demo && (
      <a 
        href={demo}
        class="bg-[#43454D] px-4 py-2 rounded-full text-sm hover:bg-opacity-80"
        target="_blank"
        rel="noopener noreferrer"
      >
        Live Demo
      </a>
    )}
  </div>
</div>